<!DOCTYPE html>
<html>
<head>
  <%- include('./components/head'); %>
  <link rel="stylesheet" type="text/css" media="screen" href="../main.css">
</head>
<body style="height: 100vh;" class="d-flex">
  <div class="m-auto pb-5" id="loginForm">
      <div class="text-center mb-1">Join video call</div>
      <button type="button" class="btn btn-primary w-100 mt-3" onclick="handleJoinRoom()">Join</button>
  </div>
  <div id="roomDisplay" style="display: none;">
    <div id="video">
      <video id="host" autoplay playsinline hidden></video>
      <video class="video-player" id="local" autoplay playsinline></video>
    </div>
    Status: <span id="status">Connecting...</span>
  </div>
  <script type="text/javascript" src="../client.js"></script>
</body>
</html>
