<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Video Chat</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css">
</head>
<body style="height: 100vh;" class="d-flex">
  <div class="m-auto pb-5" id="loginForm">
    <form onsubmit="return handleJoinRoom(event)">
      <div class="text-center mb-1">Create or join a room</div>
      <input type="text" id="roomName" name="roomName" placeholder="Room name" />
      <br />
      <input type="submit" class="btn btn-primary w-100 mt-3" value="Enter" />
    </form>
  </div>
  <div id="roomDisplay" style="display: none;">
    <h3>Room Name: "<span id="showRoomName"></span>"</h3>
    <div id="videos">
      <video class="video-player" id="host" autoplay playsinline></video>
      <video class="video-player" id="guest" autoplay playsinline></video>
    </div>
    Status: <span id="status"></span>
  </div>
  <script src="client.js"></script>
</body>
</html>
